<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [action]="this.switchToCreateVue" [object]="this"></app-page-title>

<!--List-->
<div class="main-card mb-3 card" *ngIf="showListVue()">
  <app-list [entities]="projects" [tableHeaders]="['#','Avatar','Title','Sponsor','Association', 'Status','Creation Date', 'Target Achievement']"></app-list>
</div>

<!--Create form-->
<!--List-->
<div class="main-card mb-3 card" *ngIf="showCreateFormVue()">
  <app-create [action]="this.switchToListVue" [object]="this"></app-create>
</div>

<!--Edit form-->
<div class="main-card mb-3 card" *ngIf="showEditFormVue()">
  <app-create [action]="this.switchToListVue" [object]="this"></app-create>
</div>
