<div class="app-create">
  <div class="main-card mb-3 card">
    <div class="card-body"><h5 class="card-title">Controls Types</h5>
      <form>
        <div class="position-relative form-group"><label for="title">Title</label><input name="email"
                                                                                                id="title"
                                                                                                placeholder="Title"
                                                                                                class="form-control">
        </div>
        <div class="position-relative form-group"><label for="description">Description</label><textarea
                name="text" id="description" class="form-control"></textarea></div>
        <button class="mt-1 btn btn-primary">Submit</button>
        <button class="mt-1 btn btn-cancel" (click)="action.call(object)">Cancel</button>
      </form>
    </div>
  </div>
</div>
